<html>
    <head>
        <title>Artist Informatioon</title>
    </head>
    <body>
        <h1>Welcome!</h1>
        <p>Choose an artist to learn their five most popular songs!</p>
        <form method="Post" action="/results">
            <input type="radio" name="artists" value="Juice Wrld"/> Juice Wrld
            <input type="radio" name="artists" value="Lil Tecca" /> Lil Tecca
            <input type="radio" name="artists" value="Nav" /> Nav
            <input type="radio" name="artists" value="Lil Uzi Vert" /> Lil Uzi Vert
            <input type="radio" name="artists" value="Lil Tjay" /> Lil Tjay

            <input type="submit" value="Submit"/>
        </form>
    </body>
</html>
